body {
  background: #e8e8e8;
  color: #f00;
  font-family: arial;
  font-size: 16px;
}
header {
  background: #444;
  color: #fff;
  padding: 0.5em;
}
header .logo {
  border-right: 1px solid #22bce0;
  width: 60px;
}
header .logo img {
  width: 55px;
}
header .titular {
  margin: 0px 1000px 0 100px;
}
header .titular .titulo {
  font-size: 18px;
  font-weight: normal;
}
.left {
  float: left;
}
.right {
  float: right;
}
